@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.mainContainer {
	color: #000;
	display: flex;
	gap: 30px;
	padding: 10px;
	font-family: 'Jost', sans-serif;
}

.ticket {
	width: 440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 90px 50px;
	margin: 10px;
	background-color: #ffffff;
}

.ticketHeader {
	font-weight: 300;
	font-style: italic;
	font-size: 32px;
	width: 100%;
	margin-top: 20px;
}

.linea {
	width: 100%;
	border: 2px solid black;
	border-radius: 5px;
	margin: 20px 0px;
}

.ticketClient { 
	font-weight: 300;
	font-size: 35px;
	width: 100%;
	display: flex;
	margin-bottom: 40px;
}

.client {
	font-weight: bold;
	font-style: italic;
}

.ticketProducts {
	font-weight: 300;
	font-size: 32px;
	width: 100%;
}

.precio {
	text-align: end;
}

.total {
	font-weight: 300;
	font-size: 32px;
	width: 100%;
	text-align: end;
}

.final {
	font-weight: 300;
	font-size: 32px;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}

.addForm {
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
	width: 60%;
}

.articulo:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	cursor: pointer;
}

.faltante {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.faltante:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
	cursor: pointer;
}

.botonArticulo {
	height: 40px;
	width: 100%;
	margin-top: 30px;
	font-weight: 300;
	font-size: 20px;
	cursor: pointer;
}

.botonTicket {
	position: relative;
	height: 40px;
	width: 100%;
	font-weight: 300;
	font-size: 20px;
	margin-top: 10px;
	cursor: pointer;
}

.miniFlex {
	margin-top: 10px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 10px
}

.fondo {
	/* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); */
	/*transform: rotate(180deg); */
}

.fondoText1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 32px;
	text-align: justify;
	font-weight: 300;
	padding-top: 50px;
}

@media (max-width: 1025px) {
	.addForm {
		gap: 0px;
	}

	.fourFlex {
		width: 100%;
		padding: 10px;
		gap: 10px;
		flex-direction: row;
	}
}