@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.grupoLabel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: baseline;
    font-family: 'Jost', sans-serif;
    width: 100%;
}

.label {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.input {
    height: 40px;
    border-radius: 3px;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 5px;
}

@media (max-width: 1025px) {
    .input {
        height: 20px;
    }
}